.popover {
  border: 0px solid transparent;
  margin: 0;
  overflow: visible;
  padding: unset;
  position-anchor: --popoverTrigger;
  position-area: bottom center;
  position: fixed;
  right: anchor(right);
  top: calc(anchor(bottom) + 3rem);
  width: min(90vw, 41rem);
  height: var(--round-up);

  &::after {
    background-color: var(--light-100);
    background-image: var(--grid-css);
    background-size: 16px 16px;
    background-position: var(--position);

    @media (-webkit-max-device-pixel-ratio: 1.5), (max-resolution: 1.5dppx) {
      --position: 0 -5px, -6px 0px;
    }

    content: "";
    height: 3rem;
    margin: 0 auto;
    position: absolute;
    top: -3rem;
    left: calc(50% - 2.5rem);
    width: 5rem;
    clip-path: shape(
      from 0% 100%,
      /* bottom left */ line to 100% 100%,
      /* bottom right */ vline to 66.66%,
      /* up to middle row */ line to 80% 66.66%,
      /* right edge of middle row */ vline to 33.33%,
      /* up to top row */ line to 60% 33.33%,
      /* right edge of top row */ line to 40% 33.33%,
      /* left edge of top row */ vline to 66.66%,
      /* down to middle row */ line to 20% 66.66%,
      /* left edge of middle row */ vline to 100%,
      /* down to bottom row */ close
    );
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.3);
  }
}

[popovertarget="popover-contact-form"] {
  anchor-name: --popoverTrigger;
}

[popover]:popover-open {
  opacity: 1;
  transform: scaleX(1);
}

[popover] {
  font-size: 1.2rem;
  padding: 10px;

  /* Final state of the exit animation */
  opacity: 0;
  transform: scaleX(0);

  transition:
    opacity 0.4s,
    transform 0.4s,
    overlay 0.4s allow-discrete,
    display 0.4s allow-discrete;
  /* Equivalent to
  transition: all 0.4s allow-discrete; */
}

/* Include after the [popover]:popover-open rule */
@starting-style {
  [popover]:popover-open {
    opacity: 0;
    transform: scaleX(0);
  }
}

/* Transition for the popover's backdrop */
[popover]::backdrop {
  background-color: transparent;
  transition:
    display 0.4s allow-discrete,
    overlay 0.4s allow-discrete,
    background-color 0.4s;
  /* Equivalent to
  transition: all 0.4s allow-discrete; */
}

[popover]:popover-open::backdrop {
  background-color: rgb(0 0 0 / 25%);
}

/* Nesting (&) is not supported for pseudo-elements
so specify a standalone starting-style block. */
@starting-style {
  [popover]:popover-open::backdrop {
    background-color: transparent;
  }
}
