.popover {
  position: fixed;
  /* bottom: 10rem;
  right: 10rem; */
  top: 11rem;
  width: 61rem;
  background-color: white;
  border: 1px solid #ccc;
  padding: 1rem;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}
